<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Play | Typing Race</title>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>

  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <script src="/js/game.js"></script>
</head>
<body>
  <p>Text to copy</p>
  <p id="sampleText"></p>
  <p>My Text</p>
  <textarea id="userbox" cols="30" rows="10"></textarea>
  <p id="status"></p>
  <p>Opponent</p>
  <textarea id="opponent" cols="30" rows="10"></textarea>
  <p id="opponent-status"></p>
</body>
</html>