<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Typing Race!</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="header__title">Welcome to the Typing Race!</h1>
    </div>
    <div class="content">
      <p class="content__intro">
        Typing Race is a game you can play with your friends (or enemies) to
        see who is the better typist! You have to be fast
        <span class="content__intro--highlight">and</span>
        accurate to win!
      </p>
      <div class="content__linkbox">
        <a href="/game/new"><button>Start a new game</button></a>
        <a href="/game/join"><button>Join an existing game</button></a>
      </div>
    </div>
  </div>
</body>
</html>