<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Join Game | Typing Race</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/sockets.js"/></script>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="header__title">Joinable Public Games</h1>
      <a href="/game/join/private"><button>Join Private Game</button></a>
    </div>
    <div class="main">
        <p>list of games goes here</p>
    </div>
  </div>
</body>
</html>