<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Game | Typing Race</title>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
  <link rel="stylesheet" type="text/css" href='/css/site.css'>
  <script src="/js/newgame.js"></script>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="header__title">Create a New Game</h1>
    </div>
  </div>
  <div class="content">
    <form
      id="new-game"
      action="/game/new/create"
      method="post"
      class="content__form"
    >

      <div class="radio-options">
        <p>Choose a privacy level:</p>

        <input
          type="radio"
          name="privacy"
          id="public"
          value="public"
          checked
        >
        <label for="public">Public</label>

        <input
          type="radio"
          name="privacy"
          id="private"
          value="private"
          required
        >
        <label for="private">Private</label>
      </div>

      <label id="key-label" for="key">Keyword</label>
      <input type="text" name="key" id="key">
      <button type="submit">Launch</button>
    </form>
  </div>
</body>
</html>