<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Waiting Room | Typing Race</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Get Ready...</h1>
      <p>
        We're waiting for an opponent to join you. In the meantime, you better
        be warming up your fingers!
      </p>
    </div>
  </div>
</body>
</html>